@tailwind base;
@tailwind components;
@tailwind utilities;

/*------------------------------------------------*/
/*------------------ Main Styles -----------------*/
/*------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.bg-color {
  background: linear-gradient(to bottom, #8c3af9, #58259e) !important;
}
.text-color {
  background: -webkit-linear-gradient(
    0deg,
    #58259e 0%,
    #58259e 27%,
    #8c3af9 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button.bg-color:hover {
  background: #fff !important;
  color: #58259e;
  outline: 1px solid #58259e;
}

/*------------------------------------------------*/
/*------------------ Slide Styles ----------------*/
/*------------------------------------------------*/
.owl-stage-outer {
  padding: 1rem 0;
}
/* Slider buttons */
.owl-nav button {
  position: absolute;
  background-color: transparent !important;
  width: 50px;
  height: 20px;
  transition: 0.2s;
  display: block;
  bottom: -11%;
}
.owl-nav button span {
  display: none;
}
.owl-nav button.owl-prev {
  right: 35%;
  background-image: url("../assets/icons/right_arrow.png") !important;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.owl-nav button.owl-next {
  left: 35%;
  background-image: url("../assets/icons/left_arrow.png") !important;
  background-size: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

/* Slider dot navs */
.owl-dots {
  margin-top: 1rem;
  text-align: center;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%);
}
.owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #57259e85 !important;
  opacity: 0.5;
}
.owl-dots .owl-dot.active {
  background-color: #58259e !important;
  opacity: 1;
}

/* Slider Responsive */
@media screen and (max-width: 1024px) {
  .owl-nav button.owl-next {
    left: 30%;
  }
  .owl-nav button.owl-prev {
    right: 30%;
  }
}

@media screen and (max-width: 768px) {
  .owl-dots {
    bottom: -5%;
  }
  .owl-nav button.owl-next {
    display: none;
  }
  .owl-nav button.owl-prev {
    display: none;
  }
}
